extend layout 
block content
    header.card-header
        h4.card-title WELCOME
    .form-row 
        .col.form-group 
            a(href='/addEmployee/addEmployee') Add New Employee 
        .pull-right   
        a(href='/order/order') View Order List
    table.table 
        thead.thead-dark 
            tr 
                th Full Name 
                th NIN 
                th City
                th Gender 
                th Incidences 
                th 
                th 
        tbody 
            if users.length
            each user in users
                tr 
                    td #{user.lastname +''+ user.firstname}
                    td #{user.nin}
                    td #{user.city}
                    td #{user.gender}
                    td #{user.incidences}
                    td 
                        a(href='/addEmployee/update/'+user._id) Update
                    td
                        form(method="post" action='/employee/delete')
                            input(type="hidden", placeholder="", name="id", value=user._id)
                            button.btn.btn-dark.btn-block(type="submit") Delete
    div.form-row
        div.pull-right
            a(class='button', href='/stayclean/stayclean') StayClean